<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{listing.create-listing}">Create listing</title>
</head>
<body>

<main layout:fragment="page-content">
  <div class="card w-75 mx-auto">
    <div class="card-body">
      <div class="container">
        <div class="mb-3">
          <h4 th:text="#{listing.create-listing}">Create listing</h4>
          <hr>

          <form class="form-create row g-3" method="post" th:action="@{/listings}" th:object="${listing}">
            <div class="mb-2">
              <label for="title" th:text="#{title}">Title</label>
              <input class="form-control" id="title" name="title"
                     th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}"
                     th:value="*{title}" type="text">
              <div class="invalid-feedback mb-1" th:if="${#fields.hasErrors('title')}"
                   th:text="${#strings.listJoin(#fields.errors('title'), ' ')}">
                Field validation error message(s).
              </div>
            </div>

            <div>
              <label for="body" th:text="#{listing.body}">Body</label>
              <textarea class="form-control" id="body" name="body" rows="4"
                        th:classappend="${#fields.hasErrors('body') ? 'is-invalid' : ''}" th:text="*{body}"></textarea>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('body')}"
                   th:text="${#strings.listJoin(#fields.errors('body'), ' ')}">
                Field validation error message(s).
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label" for="area" th:text="#{area}">Area</label>
              <select class="form-select" id="area" name="areaId"
                      th:classappend="${#fields.hasErrors('areaId') ? 'is-invalid' : ''}">
                <option disabled hidden selected value></option>
                <th:block th:each="country : ${areas}">
                  <option disabled th:text="${country.name}" value>Country</option>
                  <th:block th:each="state : ${country.children}">
                    <optgroup label="State" th:label="${state.name}">
                      <th:block th:each="city : ${state.children}">
                        <option th:disabled="${!city.usable}" th:selected="${city.id == listing.areaId}"
                                th:text="${city.name}" th:value="${city.id}">
                          City
                        </option>
                      </th:block>
                    </optgroup>
                  </th:block>
                </th:block>
              </select>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('areaId')}"
                   th:text="${#strings.listJoin(#fields.errors('areaId'), ' ')}">
                Field validation error message(s).
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label" for="category" th:text="#{category}">Category</label>
              <select class="form-select" id="category" name="categoryId"
                      th:classappend="${#fields.hasErrors('categoryId') ? 'is-invalid' : ''}"
                      th:disabled="${listing.live}">
                <option disabled hidden selected value></option>
                <optgroup label="Category" th:each="category : ${categories}" th:label="#{${category.slug}}">
                  <th:block th:each="subCategory : ${category.children}">
                    <option th:disabled="${!subCategory.usable}"
                            th:selected="${subCategory.id == listing.categoryId}"
                            th:text="|#{${subCategory.slug}} (€${subCategory.price})|" th:value="${subCategory.id}">
                      Sub category
                    </option>
                  </th:block>
                </optgroup>
              </select>
              <div class="invalid-feedback" th:if="${#fields.hasErrors('categoryId')}"
                   th:text="${#strings.listJoin(#fields.errors('categoryId'), ' ')}">
                Field validation error message(s).
              </div>
            </div>
            <button class="btn btn-lg btn-primary mt-4 col-4" th:text="#{save}" type="submit">Save</button>
            <button class="btn btn-lg btn-secondary mt-4 col-4 ms-auto" disabled th:text="#{pay}" type="button">Pay
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

</body>
</html>
