<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/main}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{listing.create-listing}">Create listing</title>
</head>
<body>

<main layout:fragment="page-content">
  <div class="card w-75 mx-auto">
    <div class="card-body">
      <div class="container">
        <div class="mb-3">
          <h4 th:text="#{listing.create-listing}">Create listing</h4>
          <hr>

          <form class="form-create row g-3" method="post" th:action="@{/listings}" th:object="${listingForm}">
            <div class="mb-2">
              <label th:for="title" th:text="#{title}">Title</label>
              <input class="form-control"
                     th:errorclass="is-invalid"
                     th:field="*{title}" type="text">
              <div class="invalid-feedback mb-1" th:errors="*{title}"
                   th:if="${#fields.hasErrors('title')}">
                Field validation error message(s).
              </div>
            </div>

            <div>
              <label th:for="body" th:text="#{listing.body}">Body</label>
              <textarea class="form-control" rows="4"
                        th:errorclass="is-invalid"
                        th:field="*{body}"></textarea>
              <div class="invalid-feedback" th:errors="*{body}"
                   th:if="${#fields.hasErrors('body')}">
                Field validation error message(s).
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label" th:for="areaId" th:text="#{area}">Area</label>
              <select class="form-select" th:errorclass="is-invalid" th:field="*{areaId}">
                <option disabled hidden selected value="0"></option>
                <th:block th:each="country : ${areas}">
                  <option disabled th:text="${country.name}" th:value="${country.id}">Country</option>
                  <optgroup label="State" th:each="state : ${country.children}" th:label="${state.name}">
                    <option th:disabled="${!city.usable}" th:each="city : ${state.children}"
                            th:selected="${city.id == listingForm.areaId}"
                            th:text="${city.name}" th:value="${city.id}">
                      City
                    </option>
                  </optgroup>
                </th:block>
              </select>
              <div class="invalid-feedback" th:errors="*{areaId}" th:if="${#fields.hasErrors('areaId')}">
                Field validation error message(s).
              </div>
            </div>

            <div class="col-md-6">
              <label class="form-label" th:for="categoryId" th:text="#{category}">Category</label>
              <select class="form-select" th:disabled="*{paid}"
                      th:errorclass="is-invalid"
                      th:field="*{categoryId}">
                <option disabled hidden selected value="0"></option>
                <optgroup label="Category" th:each="category : ${categories}" th:label="#{${category.slug}}">
                  <option th:disabled="${!subCategory.usable}" th:each="subCategory : ${category.children}"
                          th:selected="${subCategory.id == listingForm.categoryId}"
                          th:text="|#{${subCategory.slug}} (#{currency(${subCategory.price})})|"
                          th:value="${subCategory.id}">
                    Sub category
                  </option>
                </optgroup>
              </select>
              <div class="invalid-feedback" th:errors="*{categoryId}"
                   th:if="${#fields.hasErrors('categoryId')}">
                Field validation error message(s).
              </div>
            </div>
            <button class="btn btn-lg btn-primary mt-4 col-4" th:text="#{save}" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

</body>
</html>
