<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>alerts</title>
</head>
<body>

<th:block th:fragment="login">
  <th:block th:if="${param.error}">
    <div class="alert alert-danger" role="alert" th:text="#{login.error}">
      Error during login.
    </div>
  </th:block>
  <!--/*@thymesVar id="registrationSuccess" type="java.lang.Boolean"*/-->
  <th:block th:if="${registrationSuccess}">
    <div class="alert alert-primary" role="alert" th:fragment="registration-success">
      <th:block th:text="#{registration.success}">Registration success.</th:block>
      <a th:if="${confirmationURI}" th:href="${confirmationURI}" th:text="${confirmationURI}">Confirmation url</a>
    </div>
  </th:block>
  <!--/*@thymesVar id="confirmationSuccess" type="java.lang.Boolean"*/-->
  <th:block th:if="${confirmationSuccess}">
    <div class="alert alert-primary" role="alert" th:text="#{registration.email-confirmed}">
      Email confirmed.
    </div>
  </th:block>
  <!--/*@thymesVar id="verificationInProgress" type="java.lang.Boolean"*/-->
  <th:block th:if="${verificationInProgress}">
    <div class="alert alert-primary" role="alert" th:fragment="registration-verification"
         th:text="#{registration.verification}">
      Registration verification.
    </div>
  </th:block>
  <!--/*@thymesVar id="tokenExpired" type="java.lang.Boolean"*/-->
  <th:block th:if="${tokenExpired}">
    <div class="alert alert-primary" role="alert" th:fragment="registration-expired"
         th:text="#{registration.expired}">
      Registration expired.
    </div>
  </th:block>
</th:block>

</body>
</html>
