<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>menu</title>
</head>
<body>

<header class="p-2 mb-2 border-bottom bg-white" th:fragment="menu">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="mb-2 text-dark text-decoration-none me-4" th:href="@{/}">
        <span class="fs-3">Fresh</span>
        <span th:if="${session.currentArea}" th:text="|(${session.currentArea.name})|">USA</span>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li th:if="${session.currentArea}">
          <a class="nav-link px-2 link-secondary"
             th:classappend="${#request.requestURI == '/' ? 'link-dark' : ''}"
             th:href="@{/{slug}/categories(slug=${session.currentArea.slug})}"
             th:text="#{categories}">Categories</a></li>
        <li><a class="nav-link px-2 link-secondary"
               th:classappend="${#request.requestURI == '/about' ? 'link-dark' : ''}"
               th:href="@{/about}"
               th:text="#{about}">About</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input aria-label="Search" class="form-control" placeholder="Search..." type="search">
      </form>

      <div class="col-md-3 text-end" sec:authorize="!isAuthenticated()">
        <a class="btn btn-outline-primary me-2" th:href="@{/login}" th:text="#{login}">Login</a
        ><a class="btn btn-primary" th:href="@{/register}" th:text="#{register}">Register</a>
      </div>

      <div class="dropdown text-end" sec:authorize="isAuthenticated()">
        <button aria-expanded="false" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                id="user-menu" sec:authentication="name" type="button">
          User
        </button>
        <ul aria-labelledby="user-menu" class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item"
                 onclick="event.preventDefault(); document.getElementById('logout-form').submit();" th:href="@{/logout}"
                 th:text="#{logout}">Logout</a></li>
        </ul>
        <form class="d-none" id="logout-form" method="POST" th:action="@{/logout}"></form>
      </div>

      <!--/* Language selector won't work on login, since LocaleChangeInterceptor is loaded after SecurityFilters */-->
      <!--/* Have to rely on JS setLangCookie and CookieLocaleResolver */-->
      <div class="ms-4 dropdown text-end">
        <a aria-expanded="false" class="d-block link-dark text-decoration-none dropdown-toggle"
           data-bs-toggle="dropdown"
           href="#" id="language-select">
          <i class="bi bi-translate"></i>
        </a>
        <ul aria-labelledby="language-select" class="dropdown-menu text-small" id="language-list">
          <li data-lang="en"><a class="dropdown-item" th:href="@{''(lang=en)}" th:text="#{lang.en}">English</a></li>
          <li data-lang="ru"><a class="dropdown-item" th:href="@{''(lang=ru)}" th:text="#{lang.ru}">Russian</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

</body>
</html>
